/**
/*~~~~~~~~~~~~~~~//
/* MAIN
/*~~~~~~~~~~~~~~~//
**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
	--dark: rgb(51, 51, 51);
	--white: rgb(244, 244, 244);
	--real-white: rgb(255, 255, 255);
	--lightgrey: rgb(211, 211, 211);
	--green: rgb(95, 158, 160);
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	color: var(--dark);
	background-color: var(--white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

/**
/*~~~~~~~~~~~~~~~//
/* CONTAINER
/*~~~~~~~~~~~~~~~//
**/
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 700px;
	padding: 0.5rem;
	margin: auto;
}
.content {
	flex-grow: 1;
}

/**
/*~~~~~~~~~~~~~~~//
/* HEADER
/*~~~~~~~~~~~~~~~//
**/
.header-wrapper {
	text-align: center;
	text-transform: uppercase;
}

.icona {
	cursor: pointer;
	width: 80px;
	height: 80px;
}

/**
/*~~~~~~~~~~~~~~~//
/* NAVBAR
/*~~~~~~~~~~~~~~~//
**/
.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}
.navbar-li {
	display: grid;
	margin-left: 1rem;
	font-size: 0.7rem;
	color: var(--dark);
	text-decoration: none;
}
.navbar-li-active {
	color: var(--green) !important;
}
.navbar-li-icon {
	text-align: center;
}

/**
/*~~~~~~~~~~~~~~~//
/* AUDIT
/*~~~~~~~~~~~~~~~//
**/
.audit-main-page-wrapper {
	display: grid;
	font-family: 'Times New Roman', Times, serif;
	background-color: var(--real-white);
	padding: 0.5rem;
	grid-template-columns: 100px 1fr;
	grid-template-areas:
		'logo .'
		'. oggetto'
		'. verbale'
		'. referenti';
}
.audit-main-page-oggetto {
	grid-area: oggetto;
	text-transform: uppercase;

	line-height: 1.5rem;
	font-weight: bold;
	margin-top: 1rem;
}
.audit-main-page-giorno-verifica-verbale {
	grid-area: verbale;
	text-decoration: underline;
	text-transform: capitalize;
	text-align: center;
	font-weight: bold;
	margin: 1rem;
}
.audit-main-page-referenti {
	grid-area: referenti;
}
.logo {
	grid-area: logo;
	width: 100px;
	height: 80px;
}
